/* @font-face { font-family: Helvetica; src: url('HelveticaNeue-Bold.ttf'); }  */

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

#title{
    color: red;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 100px;
}


body {
    background-color: rgb(247, 244, 244);
    /* display: flex;
    justify-content: center; */
    
    /* min-height: 100vh;
    line-height: 1.4; */
     
   }
   
   .card {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);}
   .card-footer {
     width: 200px;
     height: 80px;
     background-color: white;
     display: flex;
     align-items: center;
     padding: 0px;
     @include bottom();
     bottom: 0;
     position: absolute;
     right: 0;
     left: 0;}
   .card-title{
     padding-left: 15px;
     font-family: "Helvetica Neue";
     font-weight: bold;
     font-size: 18px
   }

   .grid-styling{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }

  i.heart-icon {
    color: red;
}


#form-container{
	max-width: 650px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 25%;
  margin-right: 25%;
}
#form-container label{
	display:block;
	margin-bottom: 10px;
}
#form-container label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
#form-container fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
#form-container fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
#form-container textarea{
	width:250px;
	height:100px;
}
#form-container input[type=text],
#form-container input[type=date],
#form-container input[type=datetime],
#form-container input[type=number],
#form-container input[type=search],
#form-container input[type=time],
#form-container input[type=url],
#form-container input[type=email],
#form-container input[type=color],
#form-container select, 
#form-container textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:50%;
}
#form-container  input[type=submit],
#form-container  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F072A9;
  opacity: 1; /* Firefox */
}