/* @font-face { font-family: Helvetica; src: url('HelveticaNeue-Bold.ttf'); }  */


body {
  background-color: rgb(184, 243, 235);

  background-image:linear-gradient(currentColor 1px, transparent 1px),
  linear-gradient(to right, currentColor 1px, transparent 1px);
  
  background-size:10px 10px;


 }

 h4{
   text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color:  #ff1f8f;
   background-color: #f7f4f4 ;
   font-weight: bold;
   font-size: 15px;
   border: 1px solid #f7f4f4;
   padding: 5px 15px 5px 15px;
   box-shadow: inset -1px -1px 3px #f7f4f4;
   -moz-box-shadow: inset -1px -1px 3px #f7f4f4;
   -webkit-box-shadow: inset -1px -1px 3px #f7f4f4;
   border-radius: 3px;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;	
   font-weight: bold;
   margin: 5%

}

button{
  background-color: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
  margin: 5px ;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

i{
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F072A9;
  opacity: 1; /* Firefox */
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
    
}
   
  .card {
    
    border-left: 8px solid white; 
    border-right: 8px solid white; 
    border-top: 8px solid white; /* This creates the border. Replace black with whatever color you want. */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);}
   
  .card-footer {
  
     width: 200px;
     height: 80px;
     background-color: white;
     display: flex;
     align-items: center;
     padding: 0px;
     @include bottom();
     bottom: 0;
     position: absolute;
     right: 0;
     left: 0;}
   
  .card-title{
    /* border: blue;
    border-style: dotted;
    border-width: 2px; */
    padding: 0%;
    /* top: 50px; */
    display: inline-block;
     font-family: "Helvetica Neue";
     font-weight: bold;
     font-size: 16px}
   
  .grid-styling{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;}

  i.heart-icon {
    color: red;
}
  .like-count{
   text-align: left;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 16px;
    line-height: 1.6;

    /* vertical-align: middle;
    bottom: 40%; */
    top: 5px;
    /* padding-bottom: 10%;
    padding-left: 10%; */
  }

#like{

}
#filter-text{
  margin: 1% ;
  margin-left: 20%;
  margin-right: 20%;
}
#title{
  font-family: 'Montserrat', sans-serif;
  font-size:110px;
	letter-spacing: 16px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(0, 19, 128);
  text-shadow: 
						8px 8px #ff1f8f,
						20px 20px #000000;
}

#form-container{
	max-width: 650px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-left: 25%;
  margin-right: 25%;
}
#form-container label{
	display:block;
	margin-bottom: 10px;
}
#form-container label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
#form-container fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
#form-container fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
#form-container textarea{
	width:250px;
	height:100px;
  margin-left: 20px;
}
#form-container select{
	width:50px;
	height:35px;
  /* margin-left: px; */
}
#form-container input[type=text],
#form-container input[type=date],
#form-container input[type=datetime],
#form-container input[type=number],
#form-container input[type=search],
#form-container input[type=time],
#form-container input[type=url],
#form-container input[type=email],
#form-container input[type=color],
#form-container select, 
#form-container textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:50%;
}
#form-container  input[type=submit],
#form-container  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}








